// custom styles
body {
  font-family: "Marhey", cursive;
}

h1 {
  font-family: "Alkalami", serif;
}

p {
  font-weight: 100;
  line-height: 2;
}

.navbar {
  font-weight: 100;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  z-index: 2;

  .navbar-brand h3 {
    font-weight: 100;
  }

  .nav-item {
    font-size: 1.4rem;
  }

  .nav-link:hover {
    // FIXME: transition not working
    transition: border 2s;
    border-bottom: 1px solid white;
  }
}

#showcase {
  position: relative;
  background: url(../images/main.webp) bottom center / cover no-repeat;
  min-height: 750px;

  #overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: hsla(0, 0%, 0%, 0.2);
    z-index: 1;
  }

  #header {
    z-index: 1;

    h1 {
      font-weight: 900;
      line-height: 1.5;
    }
  }

  h1 {
    line-height: 1;
  }

  #btn-book {
    font-size: 1.5rem;
    border-radius: 2rem;
  }
}

.section-testimonials {
  i {
    opacity: 0.3;
  }

  blockquote {
    font-size: 1.2rem;
    margin-bottom: 1.5em;
  }

  .blockquote-footer {
    margin-top: 1em;
  }
}

.section-carousel {
  .row div:nth-child(2) {
    text-align: justify;
  }

  p.lead {
    line-height: 1.4;
  }
}

.section-gallery {
  .blockquote-footer {
    font-size: 1rem;
  }
}

.section-footer {
  font-weight: 100;
}

@media (max-width: 768px) {
  .navbar {
    background-color: #1f1f1f;

    .nav-link:hover {
      border-bottom: none;
    }
  }

  #showcase {
    min-height: 500px;
    h1 {
      font-size: 4rem;
    }
  }
}

.modal {
  text-align: right;
}

.navbar-nav {
  text-align: right;
}

.particletext {
  text-align: center;
  font-size: 120%;
  position: relative;
  color: #c80005;

  &.hearts {
    > .particle {
      opacity: 0;
      position: absolute;
      background-color: #c80005;
      animation: hearts 3s ease-in infinite;
      &:before,
      &:after {
        position: absolute;
        content: "";
        border-radius: 100px;
        top: 0px;
        left: 0px;
        width: 100%;
        height: 100%;
        background-color: #c80005;
      }
      &:before {
        transform: translateX(-50%);
      }
      &:after {
        transform: translateY(-50%);
      }
    }
  }
}

@keyframes hearts {
  0% {
    opacity: 0;
    transform: translate(0, 0%) rotate(45deg);
  }
  20% {
    //show and hint at moving
    opacity: 0.8;
    transform: translate(0, -20%) rotate(45deg);
  }
  100% {
    opacity: 0;
    transform: translate(0, -1000%) rotate(45deg); //Big hearts move faster
  }
}

p.lead {
  line-height: 2.2;
}
